body {
  background-color: rgba(0, 90, 0, 0.5);
}

h1 {
  text-align: center;
  font-size: 600%;
  font-weight: bold;
  font-family: courier;
}

h3 {
  font-family:courier;
  font-size: 115%;
  font-weight: bold;
}

p {
  color: green;
  font-family: georgia;
}

.desc {
  text-align: center;
  font-style: italic;
}

.mainBody {
  text-indent: 50px;
  font-size: 150%;
}

.listHolder {
  float: left;
  margin-left: 150px;
  font-family: georgia;
}

.listHeader {
  margin-left: 40px;
}

.tableHolder {
  float: right;
  margin-right: 50px;
  font-family: georgia;
}

.tableHeader {
  margin-left: 300px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%
}

ul {
  list-style-type: square;
  color: green;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  color: green;
}
